:root{
    font-size: 62.5%;
}

html,
body,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


input{
    margin-top: 4rem;
    border-radius: 4px;
    height: 2rem;
    width: 20rem;
    margin-bottom: 2rem;
}

button{
    margin-top: 2rem;
    border-radius: 4px;
    height: 2rem;
    width: 4rem;
}

:hover button{
    cursor: pointer;
}

.choice{
    margin-top: 2rem;
    width: 80%;
}

.text{
    font-size: 1.25rem;
}